
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

        <main>
            <% if (notifications.length > 0) { %>
                <div class="grid">
                    <% for (let notification of notifications) { %>
                        <article class="card user-item">
                            <header class="card__header">
                                <h1 class="user__name">
                                    Requester Id : <%= notification.requesterId %>
                                </h1>
                                <h3 class="user__email">
                                    requestedFileId : <%= notification.requestedFileId %>
                                </h3>
                            </header>

                            <% if(notification.decided == false) { %>

                            <div class="card__actions">
                                <form action="/user/grant-permission/<%= notification.requesterId%>/<%= notification.requestedFileId %>" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn" type="submit">Accept</button>
                                </form>

                            </div>

                            <div class="card__actions">
                                <form action="/user/deny-permission/<%= notification.requesterId%>/<%= notification.requestedFileId %>" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn" type="submit">Deny</button>
                                </form>
                            </div>

                            <% } else { %>

                                <div class="card__actions">
                                    <h3> Already decided. </h3>
                                </div>
                            <% } %>

                        </article>
                        <% } %>
                </div>
                <% } else { %>
                    <h1>Still No Notifications!</h1>
                    <% } %>
        </main>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <%- include('../includes/end.ejs') %>